snippet ngif "*ngIf [Snippet]" 
*ngIf="$1"
endsnippet

snippet ngfor "*ngFor [Snippet]" 
*ngFor="let ${1:item} of ${2:items}"
endsnippet

snippet ngmodel "ngModel [Snippet]" 
[(ngModel)] = "$1"
endsnippet
